*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, rgb(218, 250, 246),#27303a);
    font-family: "Inter", sans-serif;
}
header{
    background-color: black;
    color: white;
    margin: 0px;
    height:8vh;
}
#name{
    padding-top: 15px;
    padding-left: 15px;
    font-size:3vh;
    margin-left: 20px;
    font-weight: 700;
  font-style: normal;
}
#panel {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    width: 40%;
    padding: 2em;
    margin-top: 20vh;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    height: 40dvh;
    position: relative;
    background-color: rgb(0, 0, 0);
}
@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}
#panel::after,#panel::before{
    position: absolute;
    padding:0.5%;
    content:'';
    width: 100%;
    height:100%;
    top:50%;
    left:50%;
    translate:-50% -50%;
    background-color: red;
    background-image:conic-gradient(from var(--angle),red, cyan, yellow, magenta,red );
    z-index: -1;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
#panel::before{
    filter: blur(10px);
    
}
#login{
    color: rgb(255, 255, 255);
    padding-top:1em;
    margin-left:20px;
    font-weight: 700;
    font-style: normal;
}
@media screen and (max-width:600px){
    #panel{
        width: 80%;
        margin-right:5%;
        margin-left: 5%;
    }
}
#psw{
    align-self: flex-end;
    margin-top: auto; 
    margin-bottom: 5%; 
    text-align: end;
    font-size: 12px;
}
a{
    color: white;
}
a:hover{
    color: rgb(151, 27, 223);
}
form{
    margin-top: 0%;
    display: inline-flexbox;
    width:100%;
    justify-content: center;
    align-self: flex-start;
    color: white;
    font-size: 12px;
}
#panel2{
    margin-top:5%;
    margin-left:30%;
    margin-right: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxes{
    font-weight:600;
    font-size: 18px;;
    height:40px;
    width:80px;
    background-color: rgb(130, 17, 199);
    border-radius: 7px;
    border: 0px;
}
form label{
    display: block;
    margin-top: 7%;
    margin-left:25%;
}
.boxes:hover{
    transform:scale(1.1);
    color:white;
    background-color: black;
}
.input{
    align-items: center;
    border-radius: 7px;
    margin-left: 25%;
    gap: min(20px, 5%);
    height: 40px;
    width:min(450px, 50%);
}
#password{
    margin-top: min(30px, 40%);
}
#username{
    margin-top: min(10px,10%);
}
